name = "fear-greed-telegram-bot"
main = "src/index.js"
compatibility_date = "2024-09-23"
workers_dev = true
send_metrics = true
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[triggers]
crons = ["0 9-16 * * *"]  # Runs every 15m

[vars]
TELEGRAM_BOT_TOKEN_SECRET = "${TELEGRAM_BOT_TOKEN}"

[[kv_namespaces]]
binding = "FEAR_GREED_KV"
id = "${FEAR_GREED_KV_NAMESPACE_ID}"
