name = "fear-greed-telegram-bot"
main = "src/index.ts"
compatibility_date = "2024-09-23"
workers_dev = true
send_metrics = true
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[triggers]
crons = ["0 14-21 * * 1-5"]

[[kv_namespaces]]
binding = "FEAR_GREED_KV"
id = "${FEAR_GREED_KV_NAMESPACE_ID}"
${FEAR_GREED_KV_PREVIEW_ID_LINE}
